@font-face {
  font-family: "pixelfont";
  font-weight: 400;
  src: url(fonts/static/PixelifySans-Regular.ttf);
}
.bg {
  background-image: url(image/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.calctext {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.calctextstyle {
  font-family: "pixelfont", sans-serif;
  font-weight: 400;
  font-size: 40px;
  opacity: 40%;
}
.calc {
  width: 30rem;
  height: 40rem;
  border: 3px solid #000000;
  margin: 50px auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  color: #fdfdfd;
  font-family: "pixelfont", sans-serif;
  display: grid;
  box-shadow: 4px 4px 6px #4f4f4f;
}
.calc-screen {
  height: 125px;
  /* padding: 18px; */
  position: relative;
  padding: 10px;
  display: grid;
  justify-items: end;
  align-items: end;
}
.calc-screen p {
  text-align: right;
  font-size: 4rem;
  margin: 0;
}
.buttons {
  display: grid;
  gap: 0.1rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.btn {
  background: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #fff;
  font-family: "pixelfont", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  height: 5rem;
  width: 5rem;
  font-size: 1.7rem;
  transition: 0.5s;
  text-align: center;
  outline: none;
  user-select: none;
}
.btn:hover {
  background-color: #0dc7ff23;
}
.btn.bg-red:hover {
  background-color: #fd0d0d27;
}
.btn.bg-orange:hover {
  background-color: #ffb20d23;
}
.btn.bg-green:hover {
  background-color: #0dff4123;
}
